<ion-view title="Home" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <div class="">
            <img src="img/96E3a8ZRBqvztq9Vdb9P_a3.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 44px;"></div>
        <p id="home-markdown5" style="color:#000000;" class=" ">The Happy Bride Project is the largest printed publication available at all major wedding fairs, events, shows as well as selected Hotels and retailers. Our online directory provides Brides and Grooms with a complete solution and a One Stop Shop.</p>
    </ion-content>
</ion-view>