<ion-view title="Packages" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <ion-list id="packages-list3" class=" ">
            <ion-item class="item-thumbnail-left  " id="packages-list-item1">
                <img src="img/GEtUrFTNRBaUCm8DaZyc_bridesmaid4.jpg">
                <h2>SILVER</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="packages-list-item3">
                <img src="img/zqGcv6YYTCuMhAHkCymZ_bride4.jpg">
                <h2>GOLD</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="packages-list-item4">
                <img src="img/7CsGA44TUCx1CPtCM3M5_couples2.jpg">
                <h2>PLATINUM</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>