<ion-view title="" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/RIbOd7AQJuiGOX3M89wK_a1.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="page5-form5" class="list ">
            <h1 id="page5-heading5" style="color:#000000;text-align:center;" class=" ">The Happy Bride Project</h1>
            <div class="spacer" style="width: 300px; height: 37px;"></div>
            <ion-list id="page5-list1" class=" ">
                <label class="item item-input " id="page5-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page5-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
        </form>
        <button id="page5-button7" class=" button button-positive  button-block ">Log In</button>
        <button id="page5-button8" class=" button button-calm  button-block ">Need Account? Register Now!</button>
    </ion-content>
</ion-view>