<ion-view title="Sign Up" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <form id="signUp-form9" class="list ">
            <label class="item item-input " id="signUp-input14">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input15">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input16">
                <span class="input-label">Email</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input17">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input18">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signUp-input19">
                <span class="input-label">Contact Number</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="signUp-button10" class=" button button-positive  ">Sign Up</button>
    </ion-content>
</ion-view>